@mixin sizes($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-row($gap: 0, $align: flex-start, $justify: space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin media-desktop {
  @media (max-width: getValue(desktop, $width)) {
    @content;
  }
}

@mixin media-laptop-big {
  @media (max-width: getValue(laptop-big,  $width)) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: getValue(laptop, $width)) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: getValue(tablet, $width)) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: getValue(mobile, $width)) {
    @content;
  }
}